# Server Configuration
PORT=3001
NODE_ENV=development

# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://venomart:rqQupEwEanwS124O@vedomart-cluster.hjfhtlj.mongodb.net/vendormart?retryWrites=true&w=majority&appName=vedomart-cluster

# JWT Configuration
JWT_SECRET=109549b6a1fa76ca475cb2a8a7375b17f42a3060b53159f76729c19a8e9b525f

# CORS
FRONTEND_URL=http://localhost:5173


